<h1><center>IPTV Details</center></h1>

{{#if hasBook}}
    <table id="book-data-table">
        {{#each data}}
            <tr>
                <td><img src={{this.logo}} height='200px' width='160px'></td>
                <td>
                    <b>Name:</b> {{this.name}} <br><br>
                    <b>URL:</b> {{this.url}} <br><br>
                    {{!-- <b>Author:</b> {{this.author}} <br><br>
                    <b>Category:</b> {{this.category}} <br><br>
                    <b>Inventory:</b> {{this.inventory}} <br><br> --}}
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}
{{#unless hasBook}}
    <h3>No IPTV found! Try again with a different  title.</h3>
{{/unless}}